	<div class="row" id="content">
		<div class="container">
			<div class="col s12 m12" style="margin:0 auto">
				<div id="art-container">
					<div class="article-body">
						<div class="article-content">
						
						
						<!-- debug -->
						
						<!-- div class="alert alert-dismissable alert-info">
				 
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h4>
					<%= page.date %>
				</h4> 			</div -->
							<%- page.content %>
						</div>
					</div>
					<%- partial('partials/comments') %>
				</div>
			</div>
		</div>
	</div>
