<!-- div class="alert alert-dismissable alert-info">
				 
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
					×
				</button>
				<h4>
					评论系统正在维护
				</h4>
			</div -->
<%- partial('yungentie') %>
<%- partial('gitment') %>