	<div class="footer">
		<div class="row">
			<div class="container">
				<div class="col s12 m5">
					<div class="copyright-left">
						<p style="font-size:14px">
							&copy; 2016-2017 <%= config.title %> 版权所有
						</p>
						<p style="font-size:14px">
							<span>许可协议</span>:<i class="fa fa-creative-commons"></i><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target="_blank">"署名-非商用-相同方式共享 4.0"</a>
						</p>
					</div>
				</div>
				<div class="col s12 m7">
					<div class="copyright-right" style="text-align:right;font-size:14px">
						<p>
							Proudly Published with <a href="https://hexo.io/" rel="nofollow" target="_blank">Hexo</a>
						</p>
						<p>
							Theme <a href="https://github.com/moeyi/snowfallen">SnowFallen</a> & designed by <a href="https://kirainmoe.com/" target="_blank">Kirainmoe</a> with ♡ & <a href="https://github.com/moeyi/hexo-theme-snowfallen">Forked to Hexo</a> by <a href="https://gao4.pw">MoeYi</a>
						</p>
						<!-- p>
							博客已萌萌哒运行了<span id="span_dt_dt"></span>
						</p -->
						
						
						
						
						
			<% if(theme.hitokoto){ %>
						<script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script><div id="lwlhitokoto"><p><script>lwlhitokoto()</script></p></div>

			<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
