<meta charset="UTF-8" />

<% if(theme.loadbar){ %>
<script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
<link href="//cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
<% } %>


<link rel="shortcut icon" href="<%- theme.favicon %>" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />		<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />		<meta name="x5-fast-scroller" content="disable" />		<meta name="tags" content="sea2.1" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="renderer" content="webkit" />


 <link rel="manifest" href="/manifest.json">
    <meta name="application-name" content="MoeYi">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/favicon.ico"> 
    <link rel="icon" sizes="128x128" href="/favicon.ico">
    
    
    
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />

    
<%
  var title = page.title;

  if (is_home()){
    title = config.title;
  } 
  %>

  <title><%= title %></title>
